CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*ninja*
.gdb_history
.vscode
.ipynb_checkpoints
out
perf.data
perf.data.old